body {
    display: flex;
    justify-content: center;
    background-color: rgb(148, 116, 179) !important;
    margin-top: 20px !important;
    margin-left: 20px !important;
    padding-left: 0;
}

input {
    width: inherit !important;
    margin-left: 0 !important;
}

#title {
    font-size: 2em;
    margin-left: 1em !important;
    font-family: fantasy, monospace;
}

button {
    width: 3rem;
    margin-bottom: 4px;
}

#screen {
    display: flex;
    flex-direction: column;
}

#btn-container {
    margin-left: 0em;
}
#main {
    background: rgb(228, 218, 218);
    box-shadow: 5px 5px rgb(168, 158, 158);
    width: fit-content;
    padding-bottom: 10px;
    margin-left: 0 !important;
    padding-left: 0 !important;
    border-radius: 20px;
    padding-right: 30px !important;
}

#last-btn-row {
    margin-left: 5.5em !important;
}

#last-btn-row button {
    width: 3em;
}

@media only screen and (max-width: 345px) {
    #main {
        padding-left: -10em !important;
        padding-right: 3em !important;
    }

    button {
        width: 1.94em !important;
    }
    #btn-container {
        margin-left: 2em;
    }

    #title {
        margin-left: 2.5em !important;
        font-family: fantasy, monospace;
    }

    body {
        margin-left: 10px !important;
        margin-right: 10px !important;
        padding-left: 0 !important;
    }

    #last-btn-row button {
        width: 3em !important;
    }
}
